@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 300 & display = swap');


body{
  height: 100vh;
  margin: 0;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


img{
  width: 100%;
}

.nav-container
{
  background: #6700EE;
}



header{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.hero-image{
  display: none;
}
.logo
{
  color: #00F7FF;
  font-weight: bold;
  text-decoration: none;
  
}

nav ul
{
  display: flex;

}

nav a
{
  display: block;
  padding: 0 1em;
  text-decoration: none;
  color: white;
}

.social-header
{
  display: none;
}

.hero {
  background: #6E00FF;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet
{
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #FF64CB;

  
}

.meet span

{
  padding-top: 1em;
  margin-right: .5em;
}

.scroll
{
  width: 30px;
  margin-top: 2em;
}


section{
  padding: 4em 2em;
  text-align: center;
}
.featured 
{
position: relative;
}

.featured::before
{
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e5d5fa;
  
  left: 0;
  top:  0;
  z-index: -1;
}

.subtitle{
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ff;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title
{
  color: black;
  font-weight: bold;
  font-size: 2em;
  display: block;
  text-decoration: none;
  top :-0.4em
}

.featured-desc{
  color: #252525;
  margin-bottom: .9em;
  font: 0.9em;
  line-height: 1.8;
  font-weight: 10000;
}

.skills{
  background: #FF64CB;
}

.skills-container ul li {
  background: white;
  padding:2em;
  border-radius: 1em;
  margin-bottom: 1em;

}

.icon-container {
  height: 100px;
  
  display: grid;
  place-content: center;
  margin: 0 auto;
  
}

.skill-title{
  font-weight: bold;
}

.featured-desc{
  margin-bottom:2em;
}

.portfolio{
  background: #f7f7f7;
}

.portolio-container a img
{
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px){
  .featured, .portfolio
  {text-align: left;}
  .featured, .portfolio-container{
    display: grid;
    grid-template-columns: 40% auto
}